<div id="header">
  <h2>File Upload</h2>
</div>
<!-- Upload  -->

<div style="height: 250px;">
  <form id="file-upload-form" class="uploader" enctype="multipart/form-data">
    <!-- Add the enctype attribute with value "multipart/form-data" to enable file upload -->
  
    <input id="file-upload" type="file" name="fileUpload" accept="*" (change)="onFileSelected($event)"/>
    
    
    <label for="file-upload" id="file-drag">
      <div id="start">
        <i class="fa fa-download" aria-hidden="true"></i>
        <div>Select a file or drag here</div>
        <div id="notimage" class="hidden">Please select an image</div>
      </div>
    </label>

    <button id="file-upload-btn" class="btn btn-primary" type="submit" (click)="uploadFile(file)">Upload</button>

  </form>

</div>
<div style="display: block; width: 100%;">
  <p *ngIf="file!=null">{{file.name}}</p>
</div>

