<div id="header">
  <h2>File Upload</h2>
</div>
<!-- Upload  -->

<div >
  <form id="file-upload-form" class="uploader" enctype="multipart/form-data">
    <!-- Add the enctype attribute with value "multipart/form-data" to enable file upload -->
  
    <input id="file-upload" type="file" name="fileUpload" accept="*" (change)="onFileSelected($event)"/>
    
    
    <label for="file-upload" id="file-drag"  (dragover)="handleDragOver($event)" (dragleave)="handleDragLeave($event)" (drop)="handleFileSelect($event)">
      <div id="start">
        <i class="fa fa-download" aria-hidden="true"></i>
        <div>Select a file or drag here</div>
      </div>
    </label>
    <form *ngIf="file != null" [formGroup]="fileForm" >
      <p>Name : <input id="name" name="name"  placeholder="{{myFile.name}}"></p>
      <p>Description : <input  name="description" id="description" formControlName="description"> </p>
      <p>Tags : <input name="tags"  id="tags" formControlName="tags"></p>
      <p>Favourite : <input type="checkbox" name="favourite"  formControlName="favourite"></p>
      <p>Size : {{myFile.size.toFixed(2)}}MB</p>
      <p>Date uploaded : {{myFile.date_uploaded.toLocaleDateString()}}</p>
      <p>Type : {{myFile.type}}</p>
    </form>


    <button id="file-upload-btn" class="btn btn-primary" type="submit" (click)="uploadFile()">Upload</button>

  </form>

</div>


