
.create{
    background-color: green;
    margin: 15px;
    width: 190px;

    color: white;
    height: 40px;
    font-size: 17px;
    padding: 10px;
}

.cancel{
    background-color: red;
    margin: 15px;
    color: white;
    height: 40px;
    font-size: 17px;
    padding: 10px;
}
.in{
    margin-left: 15px;
    height: 40px;
    width: 190px;
    
}
.conf{
    background-color: rgb(2, 72, 2);
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    color: white;
    height: 40px;
    font-size: 17px;
    padding: 10px;
}