
body {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 40px;
  }

  #menu {
    background-color: #FFFFFF;
    margin-left: 0;

  }
  .logo{
    margin-left: 38px;
    height: 130px;
  }
  #buttons {
    margin-top: 50px;
  }
  .context{
    margin-top: 40px;
  }
  #title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #separator {
    border-top: 3px solid #c1e166;
    margin-bottom: 20px;
  }



  .menu-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 40px;
    border: none;
    background-color: transparent;
    color: #cecece;
    margin-bottom: 5px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .menu-button:hover {
    color: #0f555b;
    background-color: linear-gradient(to right, #4EB1B6, #98CDCF);
  }

  .clicked {
    color: #0f555b;
    background-color: linear-gradient(to right, #4EB1B6, #98CDCF);
  }

  .button-icon {
    width: 53px;
    height: 53px;
    margin-right: 9px;
    margin-top: 35px;
  }
  .ic{
    font-size: 19px;
  }
  .button-text {
    font-size: 19px;
    vertical-align: middle;
    font-weight: 600;
  }
  .mainm{
    margin-top: 40px;
    margin-right: 55px;
    margin-bottom: 40px;
  }

  .btn{
    display: inline-block;
    clear: both;
    font-family: inherit;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    margin-left: 50px;
    margin-top: 20px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #0f555b;
    border-color: #0f555b;
    cursor: pointer;
  }

  .folder-input{
    border-radius: .2rem;
    font-size: 14px;
    width:180px;
    text-decoration: none;
    text-transform: initial;
    border: line, #0f555b;
    margin-top: 20px;
    height: 2rem;
  }

  .folder-div{
    padding-left: 40px;
    margin-left: 50px; 
    background-color: white; 
    border-radius: .2rem;
    width: 220px;
    height: 126px;
  }

  .card {
    width: 220px;
    height: 80px;
    background-color: #0f555b;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease;
  }
  .card:hover {
    transform: scale(1.03);
  }

  .card-icon {
    align-self: flex-start;
    width: 20%;
  }

  .card-icon i {
    margin-top: 10px;
    font-size: 34px;
    margin-bottom: 10px;
    color: #d2e98f;
  }

  .card-content {
    flex-grow: 1;
    display: flex;
    /* align-items: flex-end; */
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .card-title {
    margin: 0;
  }


  .mainTitle{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
  }
  .albums{
    margin-bottom: 40px;
    display: flex;
  }


  #file-system {
    width: 100%;
    border-collapse: collapse;
  }

  #file-system th,
  #file-system td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: #0f555b;
  }

  #file-system th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  #file-system tbody tr {
    background-color: #FFFFFF;
  }

  #file-system tbody tr:hover {
    background-color: #d8d4d4;
    cursor: pointer;
  }

  #file-system i {
    margin-right: 5px;
  }

  .upload {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 100%;
    padding: 10px;
  flex-direction: column;
  }

  .upload-title {
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
  }
  .context {
    display: flex;
  }

  .left-column {
    flex: 1;
    margin-right: 20px;
  }

  .right-column {
    flex: 0 0 350px;
  }

  /* Rest of the CSS remains the same */

  .upload-content {
    padding: 10px;
  }
  .fileDataDiv{
    margin-top: 30px;
    margin-left: 10px;
  }
  .metaDataDiv{
    margin-top: 30px;
  }
.btn {
  display: inline-block;
  clear: both;
  font-family: inherit;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  margin-right: 10px;
  margin-top: 20px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #0f555b;
  border-color: #0f555b;
  cursor: pointer;
}


