
<body>
    <div id="menu">
      <!-- Menu Content Goes Here -->
      <img class="logo" src="..\..\assets\logo.png" alt="">
      <div id="buttons">


      <button class="menu-button" >
        <span class="button-icon">
          <i class="fas fa-chart-line ic" ></i>
        </span>
        <span class="button-text" (click)="changePage('dashboard')" >Dashboard</span>
      </button>
      <button class="menu-button" >
        <span class="button-icon">
          <i class="fas  fa-folder ic"></i>
        </span>
        <span class="button-text" (click)="changePage('main')" >My Folder</span>
      </button>
        <button class="menu-button">
        <span class="button-icon">
          <i class="fas  fa-folder ic"></i>
        </span>
          <span class="button-text" (click)="changePage('shared')">Shared folders</span>
        </button>

      <button class="menu-button" >
        <span class="button-icon">
          <i class="fas fa-sign-out-alt ic"></i>
        </span>
        <span class="button-text" (click)="logout()" >Logout</span>
      </button>
    </div>



    </div>

    <div id="main" *ngIf="page == 'main'">
        <div class="mainm">
            <div id="title">My Cloud</div>
            <div id="separator"></div>
            <!-- Main Section Content Goes Here -->
            <div class="context">
                <div  class="left-column">
                <div class="albums">
                    <div class="mainTitle">Albums</div>
                    <div class="card card-with-shadow">
                        <div class="card-icon">
                          <i class="fas fa-image"></i>
                        </div>
                        <div class="card-content">
                          <h3 class="card-title">Album Name</h3>
                        </div>
                      </div>

                </div>

                <div class="table">
                    <div class="mainTitle">Folders</div>
                    <table id="file-system">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Size</th>
                          </tr>
                        </thead>
                        <tr (click)="changeFolder('/')" *ngIf="rootFolder != currentFolder">
                          <td><i class="fas fa-folder" ></i>/</td>
                          <td>Folder</td>
                          <td>-</td>
                        </tr>
                        <tbody *ngFor="let obj of folders">
                        <tr (click)="isFile(obj) ? openPicture(obj) : changeFolder(obj)" *ngIf="obj.length > 1">
                          <td>
                            <i [class]="isFile(obj) ? 'fas fa-file' : 'fas fa-folder'"></i>{{ obj }}
                          </td>
                          <td>{{ isFile(obj) ? 'File' : 'Folder' }}</td>
                          <td>-</td>
                        </tr>
                        </tbody>
                      </table>

                </div>
                  <div class="fileDataDiv">
                    <div *ngIf="isImage" class="imageDiv">
                      <img style="width: 300px" [src]="myImage" />
                    </div>
                    <div *ngIf="isVideo">
                      <video controls>
                        <source [src]="myVideo" type="video/mp4">
                      </video>
                    </div>
                    <div *ngIf="isPDF">
                      <object style="width: 300px" [attr.data]="myPDF " type="application/pdf" ></object>
                    </div>
                    <div *ngIf="dataIsFull" class="metaDataDiv">
                      <p id="size">Size: {{ data.size }}</p>
                      <p id="date1">Date Modified: {{data.date_modified}}</p>
                      <p id="date2">Date Uploaded: {{data.date_uploaded}}</p>
                      <p id="owner">Owner: {{ data.username }}</p>
                      <p id="description">Description:
                        <input type="text" [value]="isEditMode ? tempData.description : data.description" (input)="updateDescription($event)" [disabled]="!isEditMode">
                      </p>
                      <p id="name">Name:
                        <input type="text" [value]="isEditMode ? tempData.name : data.name" (input)="updateName($event)" [disabled]="!isEditMode">
                      </p>
                      <p id="type">Type: {{ data.type }}</p>
                      <button class="btn btn-primary" (click)="toggleEditMode()">{{ isEditMode ? 'Save' : 'Edit' }}</button>
                      <button class="btn btn-primary" *ngIf="!isEditMode" (click)="delete(data.name)">Delete</button>
                      <button class="btn btn-primary" *ngIf="!isEditMode" >
                        <span class="button-icon">
                          <i class="fas  fa-download ic"></i>
                        </span>
                        <span (click)="download(data.name)">Download</span>
                      </button>
                      <button class="btn btn-primary" *ngIf="isEditMode" (click)="cancelEdit()">Cancel</button>
                    </div>
                  </div>
                </div>
                <div class="right-column">
                <div class="upload">
                    <div class="upload-title">Upload</div>
                    <div class="upload-content">
                        <app-upload-file></app-upload-file>
                      </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main" *ngIf="page == 'shared'">
      <div class="mainm">
          <div id="title">Shared folders</div>
          <div id="separator"></div>
          <!-- Main Section Content Goes Here -->
          <div class="context">
              <div  class="left-column">
              <div class="table">
                  <div class="mainTitle">Folders</div>
                  <table id="file-system">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Size</th>
                        </tr>
                      </thead>
                      <tr (click)="changeFolder('/')" *ngIf="'' != currentFolder">
                        <td><i class="fas fa-folder" ></i>/</td>
                        <td>Folder</td>
                        <td>-</td>
                      </tr>
                      <tbody *ngFor="let obj of folders">
                      <tr (click)="isFile(obj) ? openPicture(obj) : changeFolder(obj)" *ngIf="obj.length > 1">
                        <td>
                          <i [class]="isFile(obj) ? 'fas fa-file' : 'fas fa-folder'"></i>{{ obj }}
                        </td>
                        <td>{{ isFile(obj) ? 'File' : 'Folder' }}</td>
                        <td>-</td>
                      </tr>
                      </tbody>
                    </table>

              </div>
                <div class="fileDataDiv">
                  <div *ngIf="myImage" class="imageDiv">
                    <img style="width: 300px" [src]="myImage" />
                  </div>
                  <div *ngIf="data" class="metaDataDiv">
                    <p>Size: {{data.size}}</p>
                    <p>Date Modified: <input type="text" [(ngModel)]="data.date_modified" [disabled]="!isEditMode"></p>
                    <p>Date Uploaded: <input type="text" [(ngModel)]="data.date_uploaded" [disabled]="!isEditMode"></p>
                    <p>Owner: {{data.username}}</p>
                    <p>Description: <input type="text" [(ngModel)]="data.description" [disabled]="!isEditMode"></p>
                    <p>Name: <input type="text" [(ngModel)]="data.name" [disabled]="!isEditMode"></p>
                    <p>Type: {{data.type}}</p>
                    <button (click)="toggleEditMode()">{{ isEditMode ? 'Save' : 'Edit' }}</button>
                  </div>
                </div>
              </div>
              <!-- <div class="right-column">
              <div class="upload">
                  <div class="upload-title">Upload</div>
                  <div class="upload-content">
                      <app-upload-file></app-upload-file>
                    </div>
              </div>
              </div> -->
          </div>
      </div>
  </div>
  </body>
