
<body>
    <div id="menu">
      <!-- Menu Content Goes Here -->
      <img class="logo" src="..\..\assets\logo.png" alt="">
      <div id="buttons">

      <button class="menu-button" [class.clicked]="page === 'main'">
        <span class="button-icon">
          <i class="fas  fa-folder ic" ></i>
        </span>
        <span class="button-text" [class.clicked]="page === 'main'" (click)="changePage('main')" >My Folders</span>
      </button>
        <button class="menu-button" [class.clicked]="page === 'shared'">
        <span class="button-icon">
          <i class="fas  fa-folder ic"></i>
        </span>
          <span class="button-text" [class.clicked]="page === 'shared'" (click)="changePage('shared')">Shared folders</span>
        </button>

        <div class="button-container">
          <button class=" logoutBtn menu-button">
            <span class="button-icon">
              <i class="fas fa-sign-out-alt ic"></i>
            </span>
            <span class="button-text" (click)="logout()">Logout</span>
          </button>
        </div>
    </div>



    </div>

    <div id="main" *ngIf="page == 'main'">
        <div class="mainm">
            <div id="title">My Cloud</div>
            <div id="separator"></div>
            <!-- Main Section Content Goes Here -->
            <div class="context">
                <div  class="left-column">
                <div class="albums">
                    <!-- <div class="mainTitle">Create new folder</div> -->
                    <div class="card card-with-shadow" style="width: 250px;" (click)="newFolderName()">
                        <div class="card-icon">
                          <i class="fas fa-image"></i>
                        </div>
                        <div class="card-content">
                          <h3 class="card-title" >Create new folder</h3>
                        </div>
                      </div>
                      <div class="folder-div2" >
                        <div class="folder-div" *ngIf="createNew">
                          <input type="text" class="folder-input" placeholder="New folder name" (input)="updateFolderName($event)" id="new-folder">
                          <div style="width: 100%;">
                            <button (click)="createNewFolder()" class="btn">Create</button>
                          </div>
                        </div>
             
                      </div>

                      <div class="folder-div2">
                      <div class="folder-div" *ngIf="creteNewInvitation">
                        <input type="text" class="folder-input" placeholder="Family member email" (input)="updateInvitationName($event)" id="new-folder">
                        <div style="width: 100%;">
                          <button (click)="sendInvitation()" class="btn">Send</button>
                        </div>
                      </div>
                    </div>

                </div>

                <div class="table">
                    <div class="mainTitle">Folders</div>
                    <table id="file-system">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tr (click)="changeFolder('/')" *ngIf="rootFolder != currentFolder">
                          <td><i class="fas fa-folder" ></i>/</td>
                          <td>Folder</td>
                          <td>
                            <i style="margin-left: 15px;">-</i>

                          </td>
                        </tr>
                        <tbody *ngFor="let obj of folders">
                        <tr (click)="isFile(obj) ? openPicture(obj) : checkAndChangeFolder($event, obj)" *ngIf="obj.length > 1">
                          <td>
                            <i [class]="isFile(obj) ? 'fas fa-file' : 'fas fa-folder'"></i>{{ obj }}
                          </td>
                          <td>{{ isFile(obj) ? 'File' : 'Folder' }}</td>

                          <td (click)="deleteFolder(obj)" style="z-index: 9999;" >
                            <i *ngIf="!isFile(obj)" style="margin-left: 15px" [class]="'fas fa-trash'" id="delete"></i>
                            <i *ngIf="isFile(obj)" style="margin-left: 15px;">-</i>

                          </td>
                        </tr>
                        </tbody>
                      </table>

                </div>

                  <div class="fileDataDiv">
                    <div *ngIf="isImage" class="imageDiv">
                      <img style="width: 300px" [src]="myImage" />
                    </div>
                    <div *ngIf="isVideo">
                      <video controls>
                        <source [src]="myVideo" type="video/mp4">
                      </video>
                    </div>
                    <div *ngIf="isPDF">
                      <object style="width: 300px" [attr.data]="myPDF " type="application/pdf" ></object>
                    </div>
                    <div *ngIf="isTXT">
                      <pre>{{ myTXT }}</pre>
                    </div>
                    <div *ngIf="isDocs">
                      <iframe [src]="urlToDocs" width='100%' height="500px" frameborder='0' scrolling="yes"></iframe>
                    </div>
                    <div *ngIf="dataIsFull" class="metaDataDiv">
                      <p id="size">Size: {{ data.size }}</p>
                      <p id="date1">Date Modified: {{data.date_modified}}</p>
                      <p id="date2">Date Uploaded: {{data.date_uploaded}}</p>
                      <p id="owner">Owner: {{ data.username }}</p>
                      <p id="description">Description:
                        <input type="text" [value]="isEditMode ? tempData.description : data.description" (input)="updateDescription($event)" [disabled]="!isEditMode">
                      </p>
                      <p id="name">Name:
                        <input type="text" [value]="isEditMode ? tempData.name : data.name" (input)="updateName($event)" [disabled]="!isEditMode">
                      </p>
                      <p id="type">Type: {{ data.type }}</p>
                      <button class="btn btn-primary" (click)="toggleEditMode()">{{ isEditMode ? 'Save' : 'Edit' }}</button>
                      <button class="btn btn-primary" *ngIf="!isEditMode" (click)="delete(data.name)">Delete</button>
                      <button class="btn btn-primary" *ngIf="!isEditMode" >
                        <span class="button-icon">
                          <i class="fas  fa-download ic"></i>
                        </span>
                        <span (click)="download(data.name)">Download</span>
                      </button>
                      <button class="btn btn-primary" *ngIf="isEditMode" (click)="cancelEdit()">Cancel</button>
                    </div>
                  </div>
                </div>
                <div class="right-column">

                  <div class="invitation">
                    <div class="card card-with-shadow"  (click)="invite()">
                        <div class="card-icon">
                          <i class="fas fa-user-plus"></i>
                        </div>
                        <div class="card-content">
                          <h3 class="card-title" >Invite family member</h3>
                        </div>
                      </div>
        

                </div>
                    <div class="upload">
                        <div class="upload-title">Upload</div>
                        <div class="upload-content">
                            <app-upload-file></app-upload-file>
                        </div>
                    </div>


                
                </div>
            </div>
        </div>
    </div>

    <div id="main" *ngIf="page == 'shared'">
      <div class="mainm">
          <div id="title">Shared folders</div>
          <div id="separator"></div>
          <!-- Main Section Content Goes Here -->
          <div class="context">
              <div  class="left-column">
              <div class="table">
                  <div class="mainTitle">Folders</div>
                  <table id="file-system">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Size</th>
                        </tr>
                      </thead>
                      <tr (click)="changeFolder('/')" *ngIf="'' != currentFolder">
                        <td><i class="fas fa-folder" ></i>/</td>
                        <td>Folder</td>
                        <td>-</td>
                      </tr>
                      <tbody *ngFor="let obj of folders">
                      <tr (click)="isFile(obj) ? openPicture(obj) : changeFolder(obj)" *ngIf="obj.length > 1">
                        <td>
                          <i [class]="isFile(obj) ? 'fas fa-file' : 'fas fa-folder'"></i>{{ obj }}
                        </td>
                        <td>{{ isFile(obj) ? 'File' : 'Folder' }}</td>
                        <td>-</td>
                      </tr>
                      </tbody>
                    </table>

              </div>
              <div class="fileDataDiv">
                <div *ngIf="isImage" class="imageDiv">
                  <img style="width: 300px" [src]="myImage" />
                </div>
                <div *ngIf="isVideo">
                  <video controls>
                    <source [src]="myVideo" type="video/mp4">
                  </video>
                </div>
                <div *ngIf="isPDF">
                  <object style="width: 300px" [attr.data]="myPDF " type="application/pdf" ></object>
                </div>
                <div *ngIf="isTXT">
                  <pre>{{ myTXT }}</pre>
                </div>
                <div *ngIf="isDocs">
                  <iframe [src]="urlToDocs" width='100%' height="500px" frameborder='0' scrolling="yes"></iframe>
                </div>
                <div *ngIf="dataIsFull" class="metaDataDiv">
                  <p id="size">Size: {{ data.size }}</p>
                  <p id="date1">Date Modified: {{data.date_modified}}</p>
                  <p id="date2">Date Uploaded: {{data.date_uploaded}}</p>
                  <p id="owner">Owner: {{ data.username }}</p>
                  <p id="description">Description: {{data.description}}</p>
                  <p id="name">Name: {{data.name}}</p>
                  <p id="type">Type: {{ data.type }}</p>
                  <button class="btn btn-primary">
                    <span class="button-icon">
                      <i class="fas  fa-download ic"></i>
                    </span>
                    <span (click)="download(data.name)">Download</span>
                  </button>
                </div>
              </div>
              </div>


              <!-- <div class="right-column">
              <div class="upload">
                  <div class="upload-title">Upload</div>
                  <div class="upload-content">
                      <app-upload-file></app-upload-file>
                    </div>
              </div>
              </div> -->
          </div>
      </div>
  </div>
  </body>
